.imagine{
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 10px 0px 0px;
    border: 2px solid #808080;
}

.zona{
    display: inline-block;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 15px;
    max-width: 750px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border: 3px solid white;
    margin-top: 10px;
}

.title{
    font-size: 18px;
    font-weight: 500;
}