@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Onest:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Onest";
    
}

body {
    background-image: url(/fundal.png);
    background-attachment: fixed;
    padding-top: 80px;
}