.container{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0px 100px;

}

.zone{
    display: grid;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    gap: 50px;
    width: 100%;
    /* max-width: 1200px; */
    margin: 20px auto;

}