.container{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-left: 0px;
}

.magazine {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}